.footer-area .area-bg {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #1b76c0 0%, #45aafd 99%) repeat scroll 0 0;
}

.footer-area .area-bg::after {
    background: rgba(0, 0, 0, 0) url("../img/bg-layers/map-layer.png") repeat scroll 0 0;
}

.footer-area .single-widgets {
  border: 0 none;
  padding: 0;
}

.footer-area a:hover {
    color: #ffffff;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-area .single-widgets h3 {
    display: block;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    text-align: left;
}

.footer-area .single-widgets h3::after {
    background: rgba(0, 0, 0, 0) url("../img/bg-layers/border-line.png") repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    opacity: 1;
    position: absolute;
    top: auto;
    width: 50px;
}

.footer-search-form {
    margin-top: 40px;
}

.footer-search-form form {
    background: #4e45e9 none repeat scroll 0 0;
    height: 50px;
    position: relative;
}

.footer-search-form form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    height: 100%;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: calc(100% - 50px);
}

.footer-search-form form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    height: 100%;
    position: absolute;
    right: 0;
    width: 60px;
    padding-top: 5px;
}

.footer-area .single-widgets ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer-area .single-widgets ul li {
    display: block;
    margin-bottom: 8px;
    position: relative;
}

.footer-area .single-widgets ul li a {
    display: block;
}

.footer-area .single-widgets ul li:hover a {
    padding-left: 20px;
}

.footer-area .single-widgets ul li::before {
    content: "V";
    font-family: dripicons-v2;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
}

.footer-area .single-widgets ul li:hover::before {
    opacity: 1;
}


.footer-subscriber-form form {
    margin-top: 40px;
}

.footer-subscriber-form form input {
    background: #61b9ff none repeat scroll 0 0;
    border: 0 none;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.footer-subscriber-form form:focus {
    border-color: #ff3d46;
}

.footer-subscriber-form form button {
    background: #5850fb none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.footer-subscriber-form form button:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #5850fb;
}

.footer-bottom-area {
    border-top: 1px solid rgba(255, 255, 255, 0.14);
    position: relative;
}

.footer-copyright {
    padding: 30px 0;
}