/*----------------------------------
    LARGE LAYOUT: 1920px
-----------------------------------*/

@media only screen and (min-width: 1920px) {}

/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .area-title h2,
    .area-content h3 {
        font-size: 38px;
    }

    .faqs-mockup-1 img {
        max-width: 86%;
    }

    .screenshot-area .owl-nav {
        bottom: -30px;
        left: 0;
        position: absolute;
    }

    .single-fun-fact h3 {
        font-size: 62px;
    }

    .single-price {
        padding: 40px 20px;
    }

    .price-thumb-hidding {
        padding-left: 100px;
    }

    .price-thumb-hidding img {
        width: 80px;
    }
    .header-call-to-action {
        margin-left: 0;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .header-call-to-action {min-width: 264px;}
    .header-call-to-action {
        margin-left: 0;
    }
}
/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
    .video-promo-area .area-content {
        padding: 0;
    }

    .area-title h2,
    .area-content h3 {
        font-size: 38px;
    }

    .single-fun-fact h3 {
        font-size: 52px;
    }
    .team-slider-two .owl-nav{
        display: none;
    }
    .read-more {
        margin-top: 20px;
        width: 210px;
        text-align: center;
    }
    .area-content h3 {
        margin-bottom: 20px;
    }
    .welcome-text h1 {
        font-size: 32px;
        margin-bottom: 15px;
        font-weight: 700;
        text-align: left;
    }
    .welcome-text h4 {
        text-align: left;
    }
    .welcome-text{
        text-align:left;
        position: absolute;
        top: 20%;
        transform: translateY(30%);
    }
    .welcome-text .mt40{
        margin-top: 0
    }
    .home-button a {
        margin-top: 10px;
        padding: 15px 36px;
    }
    .header-top-area .navbar > .container {
    width: 100%;
}
.custom-logo-link img {
    max-width: unset;}
    ul#nav li a {padding: 40px 13px;}
}

/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/
@media only screen and (max-width: 767px) {

    .area-content h3,
    .area-title h2 {
        font-size: 24px;
        margin-bottom: 22px;
    }

    .video-promo-area .area-content {
        padding: 0;
    }

    .screenshot-slider,
    .features-slider {
        width: 100%;
    }

    .single-screenshot img {
        margin: 0 auto;
        max-height: 450px;
        max-width: 100%;
        text-align: center;
    }

    .screenshot-slider .owl-dots,
    .features-slider .owl-dots {
        margin-top: 0;
    }

    .single-fun-fact h3 {
        font-size: 38px;
    }
    .team-slider-two .owl-nav{
        display: none;
    }
    .read-more {
        margin-top: 20px;
    }
    .animation-updown{
    margin-bottom: 20%;
}

}

/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 440px) and (max-width: 767px) {

    .area-content h3,
    .area-title h2 {
        font-size: 32px;
    }
    .desc{
        left: 0;
        right: 0;
    }
}
@media only screen and (min-width: 767px){
    #goal .col-xs-offset-2{
        margin-left: 0;
    }
    .desc{
        left: 0;
        right: 0;
    }
}
@media only screen and (max-width: 576px){
    #goal .col-xs-8{
        width: 100%;
    }
    #goal .col-xs-offset-2{
        margin-left: 0;
    }
    .read-more {
        margin-top: 10px;
    }
    .welcome-text-area {
        padding-top: 0;
    }
    .desc{
        left: 0;
        right: 0;
        top: 3%;
    }
}