	/*
  	fl icon font: fl
  	Creation date: 22/06/2016 15:41
  	*/

@font-face {
  font-family: "Fl-essential";
  src: url("../../fonts/Flaticon-essential.eot");
  src: url("../../fonts/Flaticon-essentiald41dd41d.eot?#iefix") format("embedded-opentype"),
       url("../../fonts/Flaticon-essential.woff") format("woff"),
       url("../../fonts/Flaticon-essential.ttf") format("truetype"),
       url("../../fonts/Flaticon-essential.svg#Fl-essential") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Fl-essential";
    src: url("../../fonts/Flaticon-essential.svg#Fl-essential") format("svg");
  }
}

[class^="fl-esn-"],
[class*=" fl-esn-"],
[class^="fl-esn-"],
[class*=" fl-esn-"] {
    display: inline-block;
}

[class^="fl-esn-"]:before,
[class*=" fl-esn-"]:before,
[class^="fl-esn-"]:after,
[class*=" fl-esn-"]:after {
    font-family: Fl-essential;
    font-style: normal;
    line-height: 1;
}

.fl-esn-add:before { content: "\f100"; }
.fl-esn-add-1:before { content: "\f101"; }
.fl-esn-add-2:before { content: "\f102"; }
.fl-esn-add-3:before { content: "\f103"; }
.fl-esn-agenda:before { content: "\f104"; }
.fl-esn-alarm:before { content: "\f105"; }
.fl-esn-alarm-1:before { content: "\f106"; }
.fl-esn-alarm-clock:before { content: "\f107"; }
.fl-esn-alarm-clock-1:before { content: "\f108"; }
.fl-esn-albums:before { content: "\f109"; }
.fl-esn-app:before { content: "\f10a"; }
.fl-esn-archive:before { content: "\f10b"; }
.fl-esn-archive-1:before { content: "\f10c"; }
.fl-esn-archive-2:before { content: "\f10d"; }
.fl-esn-archive-3:before { content: "\f10e"; }
.fl-esn-attachment:before { content: "\f10f"; }
.fl-esn-back:before { content: "\f110"; }
.fl-esn-battery:before { content: "\f111"; }
.fl-esn-battery-1:before { content: "\f112"; }
.fl-esn-battery-2:before { content: "\f113"; }
.fl-esn-battery-3:before { content: "\f114"; }
.fl-esn-battery-4:before { content: "\f115"; }
.fl-esn-battery-5:before { content: "\f116"; }
.fl-esn-battery-6:before { content: "\f117"; }
.fl-esn-battery-7:before { content: "\f118"; }
.fl-esn-battery-8:before { content: "\f119"; }
.fl-esn-battery-9:before { content: "\f11a"; }
.fl-esn-binoculars:before { content: "\f11b"; }
.fl-esn-blueprint:before { content: "\f11c"; }
.fl-esn-bluetooth:before { content: "\f11d"; }
.fl-esn-bluetooth-1:before { content: "\f11e"; }
.fl-esn-bookmark:before { content: "\f11f"; }
.fl-esn-bookmark-1:before { content: "\f120"; }
.fl-esn-briefcase:before { content: "\f121"; }
.fl-esn-broken-link:before { content: "\f122"; }
.fl-esn-calculator:before { content: "\f123"; }
.fl-esn-calculator-1:before { content: "\f124"; }
.fl-esn-calendar:before { content: "\f125"; }
.fl-esn-calendar-1:before { content: "\f126"; }
.fl-esn-calendar-2:before { content: "\f127"; }
.fl-esn-calendar-3:before { content: "\f128"; }
.fl-esn-calendar-4:before { content: "\f129"; }
.fl-esn-calendar-5:before { content: "\f12a"; }
.fl-esn-calendar-6:before { content: "\f12b"; }
.fl-esn-calendar-7:before { content: "\f12c"; }
.fl-esn-checked:before { content: "\f12d"; }
.fl-esn-checked-1:before { content: "\f12e"; }
.fl-esn-clock:before { content: "\f12f"; }
.fl-esn-clock-1:before { content: "\f130"; }
.fl-esn-close:before { content: "\f131"; }
.fl-esn-cloud:before { content: "\f132"; }
.fl-esn-cloud-computing:before { content: "\f133"; }
.fl-esn-cloud-computing-1:before { content: "\f134"; }
.fl-esn-cloud-computing-2:before { content: "\f135"; }
.fl-esn-cloud-computing-3:before { content: "\f136"; }
.fl-esn-cloud-computing-4:before { content: "\f137"; }
.fl-esn-cloud-computing-5:before { content: "\f138"; }
.fl-esn-command:before { content: "\f139"; }
.fl-esn-compact-disc:before { content: "\f13a"; }
.fl-esn-compact-disc-1:before { content: "\f13b"; }
.fl-esn-compact-disc-2:before { content: "\f13c"; }
.fl-esn-compass:before { content: "\f13d"; }
.fl-esn-compose:before { content: "\f13e"; }
.fl-esn-controls:before { content: "\f13f"; }
.fl-esn-controls-1:before { content: "\f140"; }
.fl-esn-controls-2:before { content: "\f141"; }
.fl-esn-controls-3:before { content: "\f142"; }
.fl-esn-controls-4:before { content: "\f143"; }
.fl-esn-controls-5:before { content: "\f144"; }
.fl-esn-controls-6:before { content: "\f145"; }
.fl-esn-controls-7:before { content: "\f146"; }
.fl-esn-controls-8:before { content: "\f147"; }
.fl-esn-controls-9:before { content: "\f148"; }
.fl-esn-database:before { content: "\f149"; }
.fl-esn-database-1:before { content: "\f14a"; }
.fl-esn-database-2:before { content: "\f14b"; }
.fl-esn-database-3:before { content: "\f14c"; }
.fl-esn-diamond:before { content: "\f14d"; }
.fl-esn-diploma:before { content: "\f14e"; }
.fl-esn-dislike:before { content: "\f14f"; }
.fl-esn-dislike-1:before { content: "\f150"; }
.fl-esn-divide:before { content: "\f151"; }
.fl-esn-divide-1:before { content: "\f152"; }
.fl-esn-division:before { content: "\f153"; }
.fl-esn-document:before { content: "\f154"; }
.fl-esn-download:before { content: "\f155"; }
.fl-esn-edit:before { content: "\f156"; }
.fl-esn-edit-1:before { content: "\f157"; }
.fl-esn-eject:before { content: "\f158"; }
.fl-esn-eject-1:before { content: "\f159"; }
.fl-esn-equal:before { content: "\f15a"; }
.fl-esn-equal-1:before { content: "\f15b"; }
.fl-esn-equal-2:before { content: "\f15c"; }
.fl-esn-error:before { content: "\f15d"; }
.fl-esn-exit:before { content: "\f15e"; }
.fl-esn-exit-1:before { content: "\f15f"; }
.fl-esn-exit-2:before { content: "\f160"; }
.fl-esn-eyeglasses:before { content: "\f161"; }
.fl-esn-fast-forward:before { content: "\f162"; }
.fl-esn-fast-forward-1:before { content: "\f163"; }
.fl-esn-fax:before { content: "\f164"; }
.fl-esn-file:before { content: "\f165"; }
.fl-esn-file-1:before { content: "\f166"; }
.fl-esn-file-2:before { content: "\f167"; }
.fl-esn-film:before { content: "\f168"; }
.fl-esn-fingerprint:before { content: "\f169"; }
.fl-esn-flag:before { content: "\f16a"; }
.fl-esn-flag-1:before { content: "\f16b"; }
.fl-esn-flag-2:before { content: "\f16c"; }
.fl-esn-flag-3:before { content: "\f16d"; }
.fl-esn-flag-4:before { content: "\f16e"; }
.fl-esn-focus:before { content: "\f16f"; }
.fl-esn-folder:before { content: "\f170"; }
.fl-esn-folder-1:before { content: "\f171"; }
.fl-esn-folder-10:before { content: "\f172"; }
.fl-esn-folder-11:before { content: "\f173"; }
.fl-esn-folder-12:before { content: "\f174"; }
.fl-esn-folder-13:before { content: "\f175"; }
.fl-esn-folder-14:before { content: "\f176"; }
.fl-esn-folder-15:before { content: "\f177"; }
.fl-esn-folder-16:before { content: "\f178"; }
.fl-esn-folder-17:before { content: "\f179"; }
.fl-esn-folder-18:before { content: "\f17a"; }
.fl-esn-folder-19:before { content: "\f17b"; }
.fl-esn-folder-2:before { content: "\f17c"; }
.fl-esn-folder-3:before { content: "\f17d"; }
.fl-esn-folder-4:before { content: "\f17e"; }
.fl-esn-folder-5:before { content: "\f17f"; }
.fl-esn-folder-6:before { content: "\f180"; }
.fl-esn-folder-7:before { content: "\f181"; }
.fl-esn-folder-8:before { content: "\f182"; }
.fl-esn-folder-9:before { content: "\f183"; }
.fl-esn-forbidden:before { content: "\f184"; }
.fl-esn-funnel:before { content: "\f185"; }
.fl-esn-garbage:before { content: "\f186"; }
.fl-esn-garbage-1:before { content: "\f187"; }
.fl-esn-garbage-2:before { content: "\f188"; }
.fl-esn-gift:before { content: "\f189"; }
.fl-esn-help:before { content: "\f18a"; }
.fl-esn-hide:before { content: "\f18b"; }
.fl-esn-hold:before { content: "\f18c"; }
.fl-esn-home:before { content: "\f18d"; }
.fl-esn-home-1:before { content: "\f18e"; }
.fl-esn-home-2:before { content: "\f18f"; }
.fl-esn-hourglass:before { content: "\f190"; }
.fl-esn-hourglass-1:before { content: "\f191"; }
.fl-esn-hourglass-2:before { content: "\f192"; }
.fl-esn-hourglass-3:before { content: "\f193"; }
.fl-esn-house:before { content: "\f194"; }
.fl-esn-id-card:before { content: "\f195"; }
.fl-esn-id-card-1:before { content: "\f196"; }
.fl-esn-id-card-2:before { content: "\f197"; }
.fl-esn-id-card-3:before { content: "\f198"; }
.fl-esn-id-card-4:before { content: "\f199"; }
.fl-esn-id-card-5:before { content: "\f19a"; }
.fl-esn-idea:before { content: "\f19b"; }
.fl-esn-incoming:before { content: "\f19c"; }
.fl-esn-infinity:before { content: "\f19d"; }
.fl-esn-info:before { content: "\f19e"; }
.fl-esn-internet:before { content: "\f19f"; }
.fl-esn-key:before { content: "\f1a0"; }
.fl-esn-lamp:before { content: "\f1a1"; }
.fl-esn-layers:before { content: "\f1a2"; }
.fl-esn-layers-1:before { content: "\f1a3"; }
.fl-esn-like:before { content: "\f1a4"; }
.fl-esn-like-1:before { content: "\f1a5"; }
.fl-esn-like-2:before { content: "\f1a6"; }
.fl-esn-link:before { content: "\f1a7"; }
.fl-esn-list:before { content: "\f1a8"; }
.fl-esn-list-1:before { content: "\f1a9"; }
.fl-esn-lock:before { content: "\f1aa"; }
.fl-esn-lock-1:before { content: "\f1ab"; }
.fl-esn-locked:before { content: "\f1ac"; }
.fl-esn-locked-1:before { content: "\f1ad"; }
.fl-esn-locked-2:before { content: "\f1ae"; }
.fl-esn-locked-3:before { content: "\f1af"; }
.fl-esn-locked-4:before { content: "\f1b0"; }
.fl-esn-locked-5:before { content: "\f1b1"; }
.fl-esn-locked-6:before { content: "\f1b2"; }
.fl-esn-login:before { content: "\f1b3"; }
.fl-esn-magic-wand:before { content: "\f1b4"; }
.fl-esn-magnet:before { content: "\f1b5"; }
.fl-esn-magnet-1:before { content: "\f1b6"; }
.fl-esn-magnet-2:before { content: "\f1b7"; }
.fl-esn-map:before { content: "\f1b8"; }
.fl-esn-map-1:before { content: "\f1b9"; }
.fl-esn-map-2:before { content: "\f1ba"; }
.fl-esn-map-location:before { content: "\f1bb"; }
.fl-esn-megaphone:before { content: "\f1bc"; }
.fl-esn-megaphone-1:before { content: "\f1bd"; }
.fl-esn-menu:before { content: "\f1be"; }
.fl-esn-menu-1:before { content: "\f1bf"; }
.fl-esn-menu-2:before { content: "\f1c0"; }
.fl-esn-menu-3:before { content: "\f1c1"; }
.fl-esn-menu-4:before { content: "\f1c2"; }
.fl-esn-microphone:before { content: "\f1c3"; }
.fl-esn-microphone-1:before { content: "\f1c4"; }
.fl-esn-minus:before { content: "\f1c5"; }
.fl-esn-minus-1:before { content: "\f1c6"; }
.fl-esn-more:before { content: "\f1c7"; }
.fl-esn-more-1:before { content: "\f1c8"; }
.fl-esn-more-2:before { content: "\f1c9"; }
.fl-esn-multiply:before { content: "\f1ca"; }
.fl-esn-multiply-1:before { content: "\f1cb"; }
.fl-esn-music-player:before { content: "\f1cc"; }
.fl-esn-music-player-1:before { content: "\f1cd"; }
.fl-esn-music-player-2:before { content: "\f1ce"; }
.fl-esn-music-player-3:before { content: "\f1cf"; }
.fl-esn-mute:before { content: "\f1d0"; }
.fl-esn-muted:before { content: "\f1d1"; }
.fl-esn-navigation:before { content: "\f1d2"; }
.fl-esn-navigation-1:before { content: "\f1d3"; }
.fl-esn-network:before { content: "\f1d4"; }
.fl-esn-newspaper:before { content: "\f1d5"; }
.fl-esn-next:before { content: "\f1d6"; }
.fl-esn-note:before { content: "\f1d7"; }
.fl-esn-notebook:before { content: "\f1d8"; }
.fl-esn-notebook-1:before { content: "\f1d9"; }
.fl-esn-notebook-2:before { content: "\f1da"; }
.fl-esn-notebook-3:before { content: "\f1db"; }
.fl-esn-notebook-4:before { content: "\f1dc"; }
.fl-esn-notebook-5:before { content: "\f1dd"; }
.fl-esn-notepad:before { content: "\f1de"; }
.fl-esn-notepad-1:before { content: "\f1df"; }
.fl-esn-notepad-2:before { content: "\f1e0"; }
.fl-esn-notification:before { content: "\f1e1"; }
.fl-esn-paper-plane:before { content: "\f1e2"; }
.fl-esn-paper-plane-1:before { content: "\f1e3"; }
.fl-esn-pause:before { content: "\f1e4"; }
.fl-esn-pause-1:before { content: "\f1e5"; }
.fl-esn-percent:before { content: "\f1e6"; }
.fl-esn-percent-1:before { content: "\f1e7"; }
.fl-esn-perspective:before { content: "\f1e8"; }
.fl-esn-photo-camera:before { content: "\f1e9"; }
.fl-esn-photo-camera-1:before { content: "\f1ea"; }
.fl-esn-photos:before { content: "\f1eb"; }
.fl-esn-picture:before { content: "\f1ec"; }
.fl-esn-picture-1:before { content: "\f1ed"; }
.fl-esn-picture-2:before { content: "\f1ee"; }
.fl-esn-pin:before { content: "\f1ef"; }
.fl-esn-placeholder:before { content: "\f1f0"; }
.fl-esn-placeholder-1:before { content: "\f1f1"; }
.fl-esn-placeholder-2:before { content: "\f1f2"; }
.fl-esn-placeholder-3:before { content: "\f1f3"; }
.fl-esn-placeholders:before { content: "\f1f4"; }
.fl-esn-play-button:before { content: "\f1f5"; }
.fl-esn-play-button-1:before { content: "\f1f6"; }
.fl-esn-plus:before { content: "\f1f7"; }
.fl-esn-power:before { content: "\f1f8"; }
.fl-esn-previous:before { content: "\f1f9"; }
.fl-esn-price-tag:before { content: "\f1fa"; }
.fl-esn-print:before { content: "\f1fb"; }
.fl-esn-push-pin:before { content: "\f1fc"; }
.fl-esn-radar:before { content: "\f1fd"; }
.fl-esn-reading:before { content: "\f1fe"; }
.fl-esn-record:before { content: "\f1ff"; }
.fl-esn-repeat:before { content: "\f200"; }
.fl-esn-repeat-1:before { content: "\f201"; }
.fl-esn-restart:before { content: "\f202"; }
.fl-esn-resume:before { content: "\f203"; }
.fl-esn-rewind:before { content: "\f204"; }
.fl-esn-rewind-1:before { content: "\f205"; }
.fl-esn-route:before { content: "\f206"; }
.fl-esn-save:before { content: "\f207"; }
.fl-esn-search:before { content: "\f208"; }
.fl-esn-search-1:before { content: "\f209"; }
.fl-esn-send:before { content: "\f20a"; }
.fl-esn-server:before { content: "\f20b"; }
.fl-esn-server-1:before { content: "\f20c"; }
.fl-esn-server-2:before { content: "\f20d"; }
.fl-esn-server-3:before { content: "\f20e"; }
.fl-esn-settings:before { content: "\f20f"; }
.fl-esn-settings-1:before { content: "\f210"; }
.fl-esn-settings-2:before { content: "\f211"; }
.fl-esn-settings-3:before { content: "\f212"; }
.fl-esn-settings-4:before { content: "\f213"; }
.fl-esn-settings-5:before { content: "\f214"; }
.fl-esn-settings-6:before { content: "\f215"; }
.fl-esn-settings-7:before { content: "\f216"; }
.fl-esn-settings-8:before { content: "\f217"; }
.fl-esn-settings-9:before { content: "\f218"; }
.fl-esn-share:before { content: "\f219"; }
.fl-esn-share-1:before { content: "\f21a"; }
.fl-esn-share-2:before { content: "\f21b"; }
.fl-esn-shuffle:before { content: "\f21c"; }
.fl-esn-shuffle-1:before { content: "\f21d"; }
.fl-esn-shutdown:before { content: "\f21e"; }
.fl-esn-sign:before { content: "\f21f"; }
.fl-esn-sign-1:before { content: "\f220"; }
.fl-esn-skip:before { content: "\f221"; }
.fl-esn-smartphone:before { content: "\f222"; }
.fl-esn-smartphone-1:before { content: "\f223"; }
.fl-esn-smartphone-10:before { content: "\f224"; }
.fl-esn-smartphone-11:before { content: "\f225"; }
.fl-esn-smartphone-2:before { content: "\f226"; }
.fl-esn-smartphone-3:before { content: "\f227"; }
.fl-esn-smartphone-4:before { content: "\f228"; }
.fl-esn-smartphone-5:before { content: "\f229"; }
.fl-esn-smartphone-6:before { content: "\f22a"; }
.fl-esn-smartphone-7:before { content: "\f22b"; }
.fl-esn-smartphone-8:before { content: "\f22c"; }
.fl-esn-smartphone-9:before { content: "\f22d"; }
.fl-esn-speaker:before { content: "\f22e"; }
.fl-esn-speaker-1:before { content: "\f22f"; }
.fl-esn-speaker-2:before { content: "\f230"; }
.fl-esn-speaker-3:before { content: "\f231"; }
.fl-esn-speaker-4:before { content: "\f232"; }
.fl-esn-speaker-5:before { content: "\f233"; }
.fl-esn-speaker-6:before { content: "\f234"; }
.fl-esn-speaker-7:before { content: "\f235"; }
.fl-esn-speaker-8:before { content: "\f236"; }
.fl-esn-spotlight:before { content: "\f237"; }
.fl-esn-star:before { content: "\f238"; }
.fl-esn-star-1:before { content: "\f239"; }
.fl-esn-stop:before { content: "\f23a"; }
.fl-esn-stop-1:before { content: "\f23b"; }
.fl-esn-stopwatch:before { content: "\f23c"; }
.fl-esn-stopwatch-1:before { content: "\f23d"; }
.fl-esn-stopwatch-2:before { content: "\f23e"; }
.fl-esn-stopwatch-3:before { content: "\f23f"; }
.fl-esn-stopwatch-4:before { content: "\f240"; }
.fl-esn-street:before { content: "\f241"; }
.fl-esn-street-1:before { content: "\f242"; }
.fl-esn-substract:before { content: "\f243"; }
.fl-esn-substract-1:before { content: "\f244"; }
.fl-esn-success:before { content: "\f245"; }
.fl-esn-switch:before { content: "\f246"; }
.fl-esn-switch-1:before { content: "\f247"; }
.fl-esn-switch-2:before { content: "\f248"; }
.fl-esn-switch-3:before { content: "\f249"; }
.fl-esn-switch-4:before { content: "\f24a"; }
.fl-esn-switch-5:before { content: "\f24b"; }
.fl-esn-switch-6:before { content: "\f24c"; }
.fl-esn-switch-7:before { content: "\f24d"; }
.fl-esn-tabs:before { content: "\f24e"; }
.fl-esn-tabs-1:before { content: "\f24f"; }
.fl-esn-target:before { content: "\f250"; }
.fl-esn-television:before { content: "\f251"; }
.fl-esn-television-1:before { content: "\f252"; }
.fl-esn-time:before { content: "\f253"; }
.fl-esn-trash:before { content: "\f254"; }
.fl-esn-umbrella:before { content: "\f255"; }
.fl-esn-unlink:before { content: "\f256"; }
.fl-esn-unlocked:before { content: "\f257"; }
.fl-esn-unlocked-1:before { content: "\f258"; }
.fl-esn-unlocked-2:before { content: "\f259"; }
.fl-esn-upload:before { content: "\f25a"; }
.fl-esn-user:before { content: "\f25b"; }
.fl-esn-user-1:before { content: "\f25c"; }
.fl-esn-user-2:before { content: "\f25d"; }
.fl-esn-user-3:before { content: "\f25e"; }
.fl-esn-user-4:before { content: "\f25f"; }
.fl-esn-user-5:before { content: "\f260"; }
.fl-esn-user-6:before { content: "\f261"; }
.fl-esn-user-7:before { content: "\f262"; }
.fl-esn-users:before { content: "\f263"; }
.fl-esn-users-1:before { content: "\f264"; }
.fl-esn-video-camera:before { content: "\f265"; }
.fl-esn-video-camera-1:before { content: "\f266"; }
.fl-esn-video-player:before { content: "\f267"; }
.fl-esn-video-player-1:before { content: "\f268"; }
.fl-esn-video-player-2:before { content: "\f269"; }
.fl-esn-view:before { content: "\f26a"; }
.fl-esn-view-1:before { content: "\f26b"; }
.fl-esn-view-2:before { content: "\f26c"; }
.fl-esn-volume-control:before { content: "\f26d"; }
.fl-esn-volume-control-1:before { content: "\f26e"; }
.fl-esn-warning:before { content: "\f26f"; }
.fl-esn-wifi:before { content: "\f270"; }
.fl-esn-wifi-1:before { content: "\f271"; }
.fl-esn-windows:before { content: "\f272"; }
.fl-esn-windows-1:before { content: "\f273"; }
.fl-esn-windows-2:before { content: "\f274"; }
.fl-esn-windows-3:before { content: "\f275"; }
.fl-esn-windows-4:before { content: "\f276"; }
.fl-esn-wireless-internet:before { content: "\f277"; }
.fl-esn-worldwide:before { content: "\f278"; }
.fl-esn-worldwide-1:before { content: "\f279"; }
.fl-esn-zoom-in:before { content: "\f27a"; }
.fl-esn-zoom-out:before { content: "\f27b"; }